{{> nav}}
{{>categories}}
<!--ProductList-->
<div class="container-fluid border border-bottom pb-3">
  <div class="row">
    <div class="col-md-3 hine">
      {{> productHot}}
    </div>
    <div class="col-md-9 col-sm border-start">
      <div class="h2 text-danger" id="productNew"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
          class="bi bi-star-fill" viewBox="0 0 16 16">
          <path
            d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.283.95l-3.523 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z" />
        </svg> Sản phẩm mới</div>
      <div class="row row-cols-md-4 row-cols-3 content">

      </div>
      <div id="newProductSeeMore" class="btn text-right text-danger">Xem thêm</div>
    </div>
  </div>
</div>
<!--ProductList-->
{{!-- <div id="pagination" class="Page navigation mt-3"></div> --}}

<script>
  $(function () {
    var end = 4, start = 0;
    function load(start,end){
      $.get('json', function (data, status) {
      for (let index = start; index < end; index++) {
        const element = data.products[index];
        $('.content').append(`
            <div class="col mt-4">
                    <div class="card" style="width: 97%;">
                      <a href="/${element.slugDm}/${element.slug}"><img src="${element.anh}" class="card-img-top" height="250rem" alt="..."></a>
                      <div class="card-body">
                        <a href="/${element.slugDm}/${element.slug}" style="text-decoration: none;"><h5 class="card-title text-center text-grey">${element.ten}</h5>
                        <p class="card-text text-center text-dark fw-bold">${element.gia} đ</p></a>
                        <div class="product_hover text-center">
                          <a href="/gio-hang">
                            <div class="btn btn-dark cart-in">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cart4" viewBox="0 0 16 16">
                              <path d="M0 2.5A.5.5 0 0 1 .5 2H2a.5.5 0 0 1 .485.379L2.89 4H14.5a.5.5 0 0 1 .485.621l-1.5 6A.5.5 0 0 1 13 11H4a.5.5 0 0 1-.485-.379L1.61 3H.5a.5.5 0 0 1-.5-.5zM3.14 5l.5 2H5V5H3.14zM6 5v2h2V5H6zm3 0v2h2V5H9zm3 0v2h1.36l.5-2H12zm1.11 3H12v2h.61l.5-2zM11 8H9v2h2V8zM8 8H6v2h2V8zM5 8H3.89l.5 2H5V8zm0 5a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0zm9-1a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0z"/>
                            </svg> Thêm vào giỏ
                          </div>
                          </a>
                          <a href="/thanh-toan">
                            <div class="btn btn-dark mt-1">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bag" viewBox="0 0 16 16">
                              <path d="M8 1a2.5 2.5 0 0 1 2.5 2.5V4h-5v-.5A2.5 2.5 0 0 1 8 1zm3.5 3v-.5a3.5 3.5 0 1 0-7 0V4H1v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V4h-3.5zM2 5h12v9a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V5z"/>
                            </svg> Mua nhanh
                          </div>
                          </a>
                        </div>
                      </div>
                    </div>
                  </div>
            `);

      }
    });
    }
    load(start,end);
    $('#newProductSeeMore').click(function () {
      start = end;
      end += 4;
      load(start,end);
    })
  })

</script>