<!--footer-->
<footer class="container">
<div class="row">
    <div class="col col-md-3">
    <div class="text-uppercase text-dark fw-bold">Gọi mua hàng( 6:00 - 21:00)</div>
    </div>
    <div class="col col-md-3">
    <div class="text-uppercase text-dark fw-bold">Góp ý khiếu nại( 6:00 - 21:00)</div>
    </div>
    <div class="col col-md-3">
    <div class="text-uppercase text-dark fw-bold">Đăng ký theo dõi</div>
    </div>
    <div class="col col-md-3">
    <div class="text-uppercase text-dark fw-bold">Theo dõi chúng tôi</div>
    </div>
</div>
<div class="text-center mt-5 text-grey"> &copy;Copyright by AVNENDV 2021</div>
</footer>
<!--footer-->